name: Development Release

on:
  workflow_dispatch:

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [24]

    steps:
      - name: Check out ref
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install node modules
        run: npm ci

      - name: Package
        run: npm run package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: everforest-dev.vsix
          path: everforest-*.vsix

